@model List<Resturant.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <!--Banner-->
    <div id="BannerProducts" class="container">
        <button type="button" class="btn btn-primary">Check Our Menue</button>
    </div>
    <hr class="hr" />

    <div class="row col-md-12">

        <h1 class="About col-md-8">Our Products<i style="color:red" class="fas fa-heart"></i></h1>

        @Html.ActionLink("Add New Product", "AddProducts", "Products", null, new { id = "AddNew", @class = "btn btn-primary col-md-3" })
    </div>
    <!--Gallery-->

    <div class="row">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox no-margin row">
                <!---NOTE: the data-size below doesn't allow to upload a picture with a size more than it--->
                @foreach (var item in Model)
                {
                    <figure id="myFig" class="col-md-3">

                        <a class="black-text" href=" @Url.Action("ProductDetails","Products",new { id=item.ProductID} )"
                           data-size="1600x1067">
                            <img alt="picture" src="@item.PicturePath"
                                 class="img-fluid" />
                            <h3 class="text-center my-3">@item.Name</h3>
                        </a>
                    </figure>
                }

            </div>

        </div>
    </div>
</main>
<script>
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });


</script>
@Scripts.Render("~/bundles/jquery")